body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin: 0; 
    /* Elimina el margen predeterminado del cuerpo del documento */
}

.team {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    margin: 0; 
    /* Agrega scroll-snap para el desplazamiento suave */
}

.team article {
    flex: 0 0 auto; /* Asegura que el tamaño no se expanda ni se contraiga */
    flex-basis: 100vw; /* Establece el tamaño base para ocupar toda la pantalla horizontalmente */
    height: 100vh; /* Establece la altura para ocupar toda la pantalla verticalmente */
    scroll-snap-align: start;
    margin: 0;
}

img {
    max-width: 70%;
    width: 33%;
}

.content {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.heyim {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 25px;
    text-align: center; 
    font-weight: bold; 
    color: #A8201A; 
    text-shadow: 0 1px 0 #A8201A, 0 2px 0 #A8201A, 0 3px 0 #A8201A, 0 4px 0 #A8201A, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    width: 33%;
    float: left;
}

.content1 {
    display: grid;
    padding: 25px;
    width: 550px;
}

.flex {
    display: flex;
}

.profession {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    text-align: left; 
    font-weight: bold; 
    color: #A8201A; 
    text-shadow: 0 1px 0 #A8201A, 0 2px 0 #A8201A, 0 3px 0 #A8201A, 0 4px 0 #A8201A, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

p {
    padding: 25px;
    background-attachment: fixed;
    background-color: #A8201A;
    border-radius: 7px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .19);
    color: white;
    line-height: 1.3em;
    max-width: 550px;
    min-width: 300px;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    transition: all ease-in-out .3s
}



