body {
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.secction {
    justify-content: center;
}

.Cabecera {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
}

.Cabecera h1 {
    font-size: 34px;
    color: aliceblue;
}

.Documentos {
    display: flex;
    margin: 20px;
}

.Documentos img {
    height: auto;
    margin-right: 5px;
}

.Documentos img:last-child {
    margin-right: 2px;
}

.Documentos {
 justify-content: center;
 clear: both
}
